hgroup h1 {
  margin-bottom: 0;
}

hgroup p {
  margin-top: 0;
}

.log-output p {
  margin: 0.5em 0;
}

.log-output p.info {
  color: green;
  font: 1em monospace;
}

.log-output p.error {
  color: red;
  font-weight: bold;
  font-family: var(--mono-font);
}

/* No dark mode */
:root {
  --color-scheme: unset;
  --bg: #fff;
  --accent-bg: #f5f7ff;
  --text: #212121;
  --text-light: #585858;
  --border: #898EA4;
  --accent: #0d47a1;
  --accent-hover: #1266e2;
  --accent-text: var(--bg);
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;
}

body {
  background-image: url(../images/subtle_dots.webp);
}

article {
  background-color: var(--bg);
}

.footer {
  text-align: center;
}

legend {
  font-weight: bold;
}

.hidden {
  display: none;
}

ul {
  margin-top: 0;
}

.choices__item.choices__item--selectable,
.choices__item.is-highlighted {
  font-family: var(--mono-font);
  border-radius: var(--standard-border-radius);
  padding: .1rem .2rem;
  margin: .1rem .1rem .1rem .1rem;
  background-color: var(--bg);
  color: var(--text)
}

.choices__inner {
  padding: .2rem;
}

/* Don't let Simple.css override the button styles that choices.css is using. */
.choices button:enabled:hover {
  background-color: unset;
}

.choices__button {
  height: unset;
  color: var(--text);
  filter: invert(100%); /* This turns the "X" button SVG from white to black */
}