/* Don't let Simple.css override the button styles that choices.css is using. */
.choices button:enabled:hover {
  background-color: unset;
}

hgroup h1 {
  margin-bottom: 0;
}

hgroup p {
  margin-top: 0;
}